  <form [formGroup] = "ImageForm" action="fileupload" method="POST" enctype="multipart/form-data" novalidate>
        <label for="file">Choose File: </label>
        <input type="file" name="image"  formControleName="image"   #image>
        <label for="description">Input Image Description: </label>
        <input type="text" name="description" formControleName="description" #description>
        <br />
         <button type="submit"   (click)="Addimage(image.value,  description.value)" class="btn btn-primary" [disabled]>Add  Submit</button>
    </form>

    <div *ngFor="let profile of profiles">
    	<div >
           <img src="profile.image"> 
       </div>
    	<div>{{profile.description}}</div>
    </div>