<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Uploading Form</title>
</head>
<body>
    <h3>File Upload:</h3> Select a file to upload:
    <br />
    <form action="/file_upload" method="POST" enctype="multipart/form-data">
        <label for="file">Choose File: </label>
        <input type="file" name="file" size="50" />
        <label for="description">Input Image Description: </label>
        <input type="text" name="description" size="50" />
        <br />
        <input type="submit" value="Upload File" />
    </form>
</body>
</html>