<!--The content below is only a placeholder and can be replaced.-->

<ng2-slim-loading-bar color="black"></ng2-slim-loading-bar>
<nav class="nav nav-tabs p-5   ">
  <div class="container-fluid">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a routerLink="profile" class="nav-link" routerLinkActive="active">
          Add Member
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="home" class="nav-link" routerLinkActive="active">
          List Of Members
        </a>
      </li> 
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>